.circuit-end
    .content
        .your-time
            margin-top 0.5em
            margin-bottom 1em
            text-align center

            .value
                font-size 30px
                font-weight 900

        .or
            padding 12px
